h1.title{
    padding-top: 50px;
    color:#000;
    text-align:center;
}
body{
    background-color: #fff;
    padding-top: 121px;
}
.qandapart{
    margin: auto;
    text-align:center;
    width:500px;
    background-color: #fff;
    box-shadow: 0px 3px 46px 0 rgba(0, 0, 0, 0.09);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
}
#question{
    font-size:22px;
    
}
.btn{
    width:100%;
    padding-bottom: 5px;
    margin-top: 17px;
    border:1px solid #222;
    border-radius:30px;
    cursor:pointer;
    height: 45px;
    background-color: #fff;

}
.btn:hover:not([disabled]){
    background-color: #ffb100;
    color:#fff;
    border:1px solid #ffb100;
}
.btn:disabled{
    cursor:no-drop;
}
/*.btn:focus{
    background-color: #ffb100;
    color:#fff;
    border:1px solid #ffb100;
}*/
#next-btn{
    padding:16px 35px;
    background-color: #ffb100;
    color:#fff;
    border:1px solid #ffb100;
    border-radius:30px;
    margin-top: 20px;
    width: 150px;
    text-align: center;
    margin: 35px auto 0;
    cursor:pointer;
}
.correct{
    background:#85DCB0;
}
.incorrect{
    background:#E27D60;
}
@media (max-width: 576px) {
    body{
        padding-top: 50px;
    }
    .qandapart{
        width:91%;
        padding-bottom:30px;
    }

}